.register_warapper{
    display: flex;
    justify-content: center;
}

.register_card{
    margin: auto;
    margin-top: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f7f7f7;
    border-radius: 5px;
    width: 80%;
    box-shadow: 2px 2px 2px 2px lightgray;
}

.register_header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    margin: auto;
}

@media screen and (max-width:768px){
    .register_card{
        width: 90%;
    }
}